*{
    margin: 25px;
    border-radius: 20px;
}

header{
    background-color: rgb(110, 129, 143);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor{
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

aside{
    grid-column: 1/2;
    background-color: rgb(67, 70, 71);
}


section{
    grid-column: 2/5;
    background-color: rgb(126, 131, 131);

}

footer{
    text-align:center ;
    background-color: rgb(196, 195, 195);
    color: white;
    padding: 10px;
}

.menu{/*letra Prueba*/
    display: flex;
}

nav ul {
     list-style: none;
     padding: 3px;
     color: cornsilk;
     background: rgb(71, 70, 70);
    
 }

.menu li {
     width: 100%;
     text-align: center;
 }

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(117, 184, 180);
    height: 25px;
    text-decoration: none;
}