
*{
    margin: 5px;
    border-radius: 3px;
}
header{
    background-color: rgb(101, 103, 104);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
aside{
    grid-column: 1/2;
    background-color: rgb(185, 183, 187);
}
section{
    grid-column: 2/5;
    background-color: rgb(239, 224, 255);
}

footer{
    text-align: center;
    background-color: rgb(54, 54, 54);
    color: white;
    padding: 10px;
}
.justificado{
    text-align: justify;
}
.centrado{
    text-align: center;
}

/*  sección de estilos para el menú*/

.menu {
    display: flex;
}
nav ul {
    list-style: none;
    padding: 5px;
    color: #fff;
    background: rgb(190, 229, 231);
}
.menu li {
    width: 100%;
    text-align: center;
}

.menu a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background:rgb(122, 169, 238);
    height: 25px;
    text-decoration: none;
}

.dropdown li {
    display: none;
}
.menu li:hover .dropdown li {
    display: block;
}
.menu a:hover {
    background:rgb(215, 224, 218);
    color: #fff;

}



